<!--<Service name="Wellcomer">-->
<!--    <Connector port="8081" protocol="HTTP/1.1"-->
<!--               connectionTimeout="20000"-->
<!--               redirectPort="8443"-->
<!--               URIEncoding="UTF-8" />-->
    <Engine>
        <!-- THIS GUY -->
        <Realm className="org.apache.catalina.realm.MemoryRealm"/>
    </Engine>
<!--</Service>-->